* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.cards {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border: 1px solid #000;
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, .1);
  height: 20rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.card img {
  height: 10rem;
}